<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <title>Генератор задач по алгебраическим структурам</title>
    </head>
    <body>
        <div id="task">
            <h1>Генератор задач по алгебраическим структурам</h1>
            <p>{{ task }}</p>
        <div>
        <div id="download">
            <h2>Можно скачать задачи в tex:</h2>
            <form action="/download/" method="POST">
                <p><input name="number" type="text" size="10" value="10">
                   <input type="submit"></p>
            </form>
        </div>
    </body>
</html>
